* {
  margin: 0;
  padding: 0;
}

/*body {
  height: 2000px;
}*/
body {

}
a {
  text-decoration: none;
}
/*-----------header-----------*/
header {
  height: 72px;
  width: 100%;
  background-color: #1a8cff;
  position: fixed;
  display: block;
}
/*---------dropdawn---------*/
.dropbtn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #1a8cff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  overflow: scroll;
  height: 600px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: white;
  color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

.dropdawn-menu-img {
  height: 300px;
}

.dropdawn-menu-text {
  font-size: 30px;
  float: right;
}

/*.menu-style {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #1a8cff;
}
.menu-style:hover {
  background-color: white;
  color: black;
}*/

.menu {
  float: right;
  margin-right: 250px;
  font-size: 30px;
}

/*.style-button {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}*/

.button-menu {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



/*-----------main-----------*/

main {
  /*background-color: white;*/
  margin: 0 auto;
  width: 100%;
}

.box {
  height: 150px;
}

.fon {
  background-position: center;
  background-image: url(../img/egtg5yhy5.jpg);
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  display: block;
  height: 100%;
  width: 100%;
}

/*.main-box {
  width: 100%;
}*/

.main-content {
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  background-position: center;
}



img {
  max-width: 1200px;
}

.content-title1 {
  text-align: center;
}

.content-text1 {
  margin-top: 20px;
  text-align: justify;
  font-family: 'Roboto Condensed';
}

.content-container {
  width: 900px;
  margin: 0 auto;
}

.main-img {
  background-position: left;
  height: 300px;
}

h1 {
  text-align: center;
}

.content-text {
  float: right;
  background-position: right;
  width: 500px;
  margin-top: 20px;
  margin-right: 70px;

}
/*----------footer----------*/
.dropbtn1 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn1:hover, .dropbtn1:focus {
    background-color: #3e8e41;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1 a:hover {background-color: #f1f1f1}

.show1 {display:block;}

footer {
  background-color: #0d0d0d;
  height: 100px;
}

.footer-text {
  padding-top: 55px;
  color: #8c8c8c;
  text-align: center;
}

.fa {
  float: right;
  color: #ffffff;
}

.header-logo-icon {
  margin-right: 500px;
  height: 700px;
    animation: logo-icon 5s linear infinite;
}


@keyframes header-logo-icon {
  from {}
  to {transform: rotateZ(360deg);}
}

@media screen and (max-width: 414px) {
  * {max-width: 414px;
  margin: 0;}
  main { width: 100%;}
  .menu {margin-right: 0;}
  .dropbtn {font-size: 10px; padding: 4px 8px;}
  header {height: 40px;}
  .logo {height: 40px; width: 100px;}
  h1 {font-size: 7px;}
  a {font-size: 5px;}
  .content-text1 {font-size: 5px;}
  .content-text {max-width: 200px; float: right;  margin-right: 0;}
  .main-img {width: 207px; height: 180px;}
}

@media screen and (max-width: 375px) {
  * {max-width: 414px;
  margin: 0;}
  main { width: 100%;}
  .menu {margin-right: 0;}
  .dropbtn {font-size: 10px; padding: 3px 6px;}
  header {height: 35px;}
  .logo {height: 35px; width: 80px;}
  h1 {font-size: 6px;}
  a {font-size: 4px;}
  .content-text1 {font-size: 4px;}
  .content-text {max-width: 180px; float: right;  margin-right: 0;}
  .main-img {width: 190px; height: 160px;}
}

@media screen and (max-width: 320px) {
  * {max-width: 414px;
  margin: 0;}
  main { width: 100%;}
  .menu {margin-right: 0;}
  .dropbtn {font-size: 10px; padding: 3px 6px;}
  header {height: 35px;}
  .logo {height: 30px; width: 70px;}
  h1 {font-size: 6px;}
  a {font-size: 4px;}
  .content-text1 {font-size: 4px;}
  .content-text {max-width: 155px; float: right;  margin-right: 0;}
  .main-img {width: 160px; height: 130px;}
}
